span {
    margin-left: 5px;
}

h1 {
    margin: 10px;
}

form {
    margin: 10px;
    padding-top: 20px;
}

.form-label {
    font-weight:600;
}

.input-group-text {
    margin: 0px;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-danger);
  }
 
  .row {
    margin: 0px 0.025px;
  }